In [ ]:
import pandas as pd
from pandas.core.frame import DataFrame

In [ ]:
###目标1：在df中插入列
###目标2：在列中插入数据

In [15]:
df=pd.read_excel('test.xlsx',sheet_name='Sheet1')

In [19]:
df.insert(1, '666', 0)

In [21]:
col_name = df.columns.tolist()
col_name.insert(col_name.index('Name'),'777')
df.reindex(columns=col_name)

,ID,666,777,Name,Shipping: First Name,Shipping: Last Name,Shipping: Address 1,Shipping: Address 2,Shipping: Zip,Shipping: City,Shipping: Country,Fulfillment: Status,Fulfillment: Tracking Company,Fulfillment: Tracking Number
0,4475788460184,0,NaN,#Preciousse1758,NaN,duprot,809 Rue de l'Université,NaN,62400,Béthune,France,NaN,NaN,87500005458808Z
1,4475897217176,0,NaN,#Preciousse1762,Julie,Pouillon,4BIS rue du Bichot,POUILLY-LE-FORT,77240,VERT-SAINT-DENIS,France,NaN,NaN,87500005458809X
2,4475962294424,0,NaN,#Preciousse1765,monique,sencey,13 chemin de candaubas,NaN,33640,portets,France,NaN,NaN,87500005458810C